html {
    box-sizing: border-box;
}

* *::before,
::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    background: rgb(255, 255, 255);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    margin-left: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

.list {
    list-style: none;
    font-style: normal;
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

/* -----header------- */

.page_header {
    border-bottom: 1px solid #e7e9fc;
}

.sait_address {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sait_nav {
    display: flex;
    align-items: center;
}

.li_nav {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 15px;
    position: relative;
}

.header_logo {
    width: 210px;
    height: 60px;
    padding: 10px 0 10px 0;
}

.list_a {
    color: #606161;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 250ms linear;
    text-decoration: none;
    padding: 24px 0 27px 0;
}

/*----------------------------- main-------------------- */

.main_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    
}

.img_log {
    width: 45%;
    min-width: 300px;
    overflow: hidden;
    padding: 20px;
}

.section_img {
    height: auto;
    width: 100%;
    min-height: 550px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8),
            rgba(235, 240, 240, 0.5)),
        url(../imd/pole.jpg) 50% 70% no-repeat;

}

.modal {
    width: 408px;
    height: 360px;
    background-color: rgba(255, 250, 205, 0.5);
    border-radius: 3px;
    padding: 12px;
    margin-top: 60px;

}

.icon_form_title {
    position: relative;
}

.form_icon {
    position: absolute;
    left: 16px;
    fill: #2E2F42;
    top: 50%;
    transform: translateY(-50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #606161;
    padding-top: 24px;
    margin-bottom: 16px;
}

.label_name {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #606161;
    margin-bottom: 4px;
}

.label_phone {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #606161;
    margin-bottom: 4px;
    
}

.input_name {
    width: 100%;
    height: 35px;
    border: 2px solid rgba(46 ,47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    padding-left: 38px;
    

}

.inpyt_phone {
    width: 100%;
    height: 35px;
    border: 2px solid rgba(46 ,47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    padding-left: 38px;
}

.btn_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #606161;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 10px 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 40px;
}

/* -----------------------------footer-------------------- */

.footer {
    background-color: #606161;
}

.social_list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0;

}

.wb_soc_li {
    width: 40px;
    height: 40px;
}

.web_soc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: antiquewhite;
    transition: background-color 250ms linear;

}